@media (min-width: 768px) {
    .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
    }

    .section {
        padding: 20px;
    }

    .btn {
        padding: 0 15px;
    }

    #searchInput {
        padding: 10px;
    }

}

@media (max-width: 545px) {

    #searchResults div {
        width: 100%; 
        margin-right: 0; /* Setzt den rechten Abstand zurück auf 0, sodass das Suchergebnis die volle Breite hat */
        float: none; /* Setzt den float zurück auf den Standardwert */
    }

    .impressum-container {
        padding: 10px; /* Reduziert den Abstand um den Text herum */
        font-size: 80%; /* Verkleinert die Schriftgröße um 50% */
    }

    #searchInput {
        font-size: 15px; /* Vergrößert die Schriftgröße der Suchleiste */
        height: 48px; /* Vergrößert die Höhe der Suchleiste */
    }

    .btn {
        font-size: 0; /* Verkleinert die Schriftgröße des Suchen-Buttons um 30% */
        height: 28px; /* Verkleinert die Höhe des Suchen-Buttons um 30% */
        /*text-align: center; /* Zentriert den Text horizontal auf dem Suchen-Button */
        padding: 0 5px; /* Verringert den seitlichen Abstand des Buttons */
        width: 40px; /* Setzt die Breite des Buttons auf 40px */
        background-color: white;
    }

    .btn.search::before {
        content: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 612.08 612.08"><g><path d="M237.927,0C106.555,0,0.035,106.52,0.035,237.893c0,131.373,106.52,237.893,237.893,237.893 c50.518,0,97.368-15.757,135.879-42.597l0.028-0.028l176.432,176.433c3.274,3.274,8.48,3.358,11.839,0l47.551-47.551 c3.274-3.274,3.106-8.703-0.028-11.838L433.223,373.8c26.84-38.539,42.597-85.39,42.597-135.907C475.82,106.52,369.3,0,237.927,0z M237.927,419.811c-100.475,0-181.918-81.443-181.918-181.918S137.453,55.975,237.927,55.975 s181.918,81.443,181.918,181.918 S338.402,419.811,237.927,419.811z" /></g></svg>');
        display: inline-block;
        width: 24px; /* Stellen Sie sicher, dass Sie Breite und Höhe angeben, damit das SVG angezeigt wird */
        height: 24px;
        margin-right: 2px;
        vertical-align: middle;
    }
    

    .btn.back {
        display: inline-block;
        background-color: #d9ccc1;
        color: black;
        border: none;
        cursor: pointer;
        font-size: 14px;
        text-align: center;
        width: auto;
    }

    .btn, #searchInput {
        height: 40px;
        vertical-align: middle; /* Zentriert die Elemente vertikal */
    }

    .menu-button {
        font-size: 21px;
        margin-top: 0px;
    }
    .side-nav a {
        font-size: 17.5px; /* 70% von 25px (was 30% Verkleinerung entspricht) */
    }

    .title {
        font-size: 24px; /* Beispielwert, passe ihn nach Bedarf an */
        margin-top: 0px; 
    }
    #detailSection {
        transform: scale(0.9); /* Verkleinert den Inhalt um 30% */
        transform-origin: top left; /* Setzt den Ursprung der Transformation auf die obere linke Ecke */
    }

    
    .panorama {
        height: 125px;  
        background-position: center top; 
    }
    
    .container {
        /* ... Ihre bisherigen Stile ... */
        margin-top: 2px; /* Verschiebt den Container um die Höhe des Bildes nach oben */
    }

    .cart-icon {
        margin-top: 0px;
    }

    .product-text, .price-discount {
        flex: 1; /* Stellt sicher, dass die Produktbeschreibung und der Preis den gesamten verfügbaren Raum einnehmen */
        width: 100%; /* Stellt sicher, dass diese Elemente die gesamte Breite des Containers einnehmen */
    }

    .product-images {
        padding-top: 200px; /* Setzt den Abstand am oberen Rand, um die Bilder tiefer zu positionieren */
        align-items: center; /* Zentriert die Bilder horizontal */
    }

    .product-image {
        width: 100%; /* Setzt die Breite auf 150px */
        height: 200px; /* Setzt die Höhe auf 150px */
        object-fit: cover; /* Sorgt dafür, dass das Bild den Container ausfüllt, ohne das Seitenverhältnis zu ändern */
        margin: 0 auto; /* Zentriert das Bild */
    }

   

    .related-products {
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        transform-origin: center;
        transform: scale(1.1);
        margin-top: 30px;
        width: 100%; 
    }
    
    
    .product-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    
    .product-card {
        flex: 0 1 calc(50% - 10px);
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        max-height: 240px;
    }
    
    .product-thumbnail {
        height: 120px; /* Hier festlegen, wie hoch die Bilder sein sollen */
        width: 100%; /* Sorgt dafür, dass das Bild die gesamte Breite des Containers einnimmt */
        object-fit: cover; /* Das Bild wird so zugeschnitten, dass es den Container füllt, ohne dass das Seitenverhältnis verzerrt wird */
        overflow: hidden;
    }
    
    .product-info {
        flex: 1;
        height: 150px; /* Diese Höhe stellt sicher, dass es genügend Platz für längere Beschreibungen und den Button gibt */
    }
    

    .product-details {
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        padding: 0 20px 20px 20px;
        margin-right: -30px;
        margin-top: 10px;
        flex-direction: column; /* Setzt die Hauptachse des Flex-Containers auf vertikal */
        
    }

    .image-container {
        display: block;
        padding-top: 5px;
        margin-bottom: 15px;
        padding-right: 10px;
    }

    .category-display:nth-child(2){
        margin-top: 10px;
    }

    


}