.cart-icon {
    position: absolute;
    top: 25%;
    right: 10px;
    transform: translateY(-50%);
    margin-right: 20px;
    margin-top: -20px;
}

#cartCount {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

#cartOverlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #e5dfd8;
    border-left: 1px solid #ccc;
    overflow-y: auto;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#cartItems {
    margin-bottom: 20px;
}

#cartOverlay button {
    display: inline-block;
    background-color: #d9ccc1;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

#cartOverlay button:hover {
    background-color: #c2b6a4;
}

.fas.fa-trash {
    margin-left: 10px;
    display:block;
}

.total-price {
    margin-top: 20px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    flex-direction: column;
}

.cart-controls {
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 50px;
    margin-top: 7px;
    justify-content: center;
    padding-right: 20px;
}

.cart-controls button {
    width: 25px;
    height: 25px;
    border: none;
    background-color: #d9ccc1;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    line-height: 8px;
    padding: 0;
    display: flex;
    padding-right: 20px;
}

.cart-controls button:hover {
    background-color: #c2b6a4;
}

.cart-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#cartOverlay button {
    flex: 1;
    margin: 0 10px;
}
