
.product-images {
    flex-basis: 200px;
    display: flex;
    gap: 10px;
}

/* Stil für den Container der Preis- und Rabattinformationen */
.price-discount {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px 0;
    background-color: #f4f4f4;
    gap: 10px;
    padding: 3px 10px;
    border-radius: 5px;
    max-width: max-content;
}

.highlighted-price, .highlighted-discount {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
}

.original-price {
    text-decoration: line-through;
    font-size: 0.8em;
    margin: 0;  
    color: #888;
}

.price-discount > div {
    flex-direction: column;
    align-items: center;
}

.discount-container {
    color: red;
    font-weight: bold;
    font-size: 1.1em;
}

/* Stil für Sternsymbole */
.fas.fa-star, .fas.fa-star-half-alt, .far.fa-star {
    color:darkorange;
}

.price-details {
    display: flex;
    flex-direction: column;
}

.price-details p {
    margin: 5px 0;
}

.related-products {
    padding: 20px;
}


.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Stil für einzelne Produktkarten */
.product-card {
    min-width: 100px;
    max-width: 165px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 auto;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 265px;
}

.product-thumbnail {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.product-info {
    padding: 10px;
    text-align: center;
}

.product-image:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

.product-image:-moz-full-screen {
    width: 100%;
    height: 100%;
}

.product-image:fullscreen {
    width: 100%;
    height: 100%;
}

.product-info h4 {
    min-height: 40px;
    margin-bottom: 0px;
    margin-top: 5px;
}

/* Stil für den Container der Produktbeschreibung */
.product-description-container {
    border: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-bottom: 5px;
    padding-top: 10px;
}

.product-details {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 0 20px 20px 20px;
    margin-top: 10px;
}


.product-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 0 20px 20px 20px;
    margin-top: 10px;
}

.product-text {
    flex: 1;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
}

.product-text h2 {
    margin-bottom: 5px;
}

.product-text p:first-of-type {
    margin-top: 5px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 20px;
}

/* Stil für das Produktbild */
.product-image {
    width: 80%;
    height: 250px;
    object-fit: cover;
    border: solid #e0e0e0;
}

.image-navigation {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}