.product-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 0 20px 20px 20px;
    margin-top: 10px;
}

.product-text {
    flex: 1;
    padding-right: 5px; /*5px*/
    display: flex;
    flex-direction: column;
}

.product-text h2 {
    margin-bottom: 5px; /* Dies reduziert den Abstand nach dem Titel. Sie können den Wert je nach gewünschtem Abstand anpassen. */
}

.product-text p:first-of-type {
    margin-top: 5px; /* Dies reduziert den Abstand vor der Marke. Der Selektor `:first-of-type` stellt sicher, dass nur das erste `p`-Element innerhalb von `.product-text` beeinflusst wird. */
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the child elements horizontally */
    position: relative;
    padding-top: 20px;
}

.product-image {
    width: 80%; /*100%*/
    height: 250px;
    object-fit: cover; /* Behält das Seitenverhältnis des Bildes bei, während es den Container füllt */
    margin: auto; /* Zentriert das Bild horizontal */
    border: solid #e0e0e0;
}

.image-navigation {
    display: flex;
    flex-direction: row; /* Lays out the buttons horizontally */
    gap: 10px;
    align-items: center; /* Vertically centers the buttons */
    margin-top: 10px; /* Optional: Add some spacing between the image and the buttons */
    justify-content: center;

}

.image-navigation button {
    background: #d9ccc1; 
    border: none; 
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.image-navigation button:hover {
    background: rgba(255, 255, 255, 0.9); 
}